/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* https://github.com/robertjk/dotfiles */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: #eeeeee;
  }

  to {
    color: #f7804b;
  }
}

@keyframes blink-critical {
  70% {
    color: #eeeeee;
  }

  to {
    color: #f34f4d;
  }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #000000;
  color: #eeeeee;
  font-family: Cantarell, Noto Sans, sans-serif;
  font-size: 11px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#window {
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
}

#battery.critical {
  color: #f34f4d;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
}

#cpu {
}

#cpu.warning {
}

#cpu.critical {
  color: #f34f4d;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #f7804b;
}

#memory.critical {
  color: #f34f4d;
  animation-name: blink-critical;
  animation-duration: 1s;
}

#mode {
  background: #64727D;
  border-top: 2px solid white;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
  color: #f34f4d;
}

#tray {
}

#window {
}

#taskbar button,
#workspaces button {
  border-top: 2px solid transparent;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  color: #888888;
}

#taskbar button {
  margin-left: 5px;
  margin-right: 5px; 
}

#taskbar button.hover,
#workspaces button.hover {
  color: #ffffff;
}

#taskbar button.active,
#workspaces button.focused {
  border-color: #dddddd;
  color: #dddddd;
  background-color: #000000;
}

#taskbar,
#workspaces button.urgent {
  border-color: #ffffff;
  color: #ffffff;
}





