
.tasklist image {
  padding: 0;
  margin: 0;
  opacity: 0;
}

.tasklist button {
  color: rgba(190, 182, 182, 0.9);
  border-radius: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.tasklist button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.17);
}

.tasklist button:checked {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -2px #2777ff;
}

.xfce4-panel.background {
  background: #070707;
}

.xfce4-panel button {
  background: #070707;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  color: white;
  -gtk-icon-shadow: none;
}

.xfce4-panel button:hover {
  background: rgba(20, 20, 20, 0.2);
}

.xfce4-panel button:not(#whiskermenu-button):checked, .xfce4-panel button:not(#whiskermenu-button):active {
  box-shadow: inset 0 2px 0 white;
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.xfce4-panel.vertical button:not(#whiskermenu-button):checked, .xfce4-panel.vertical button:not(#whiskermenu-button):active {
  box-shadow: inset 2px 0 0 white;
}

undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { background-image: none; }
